body {
    width: 100%;
    max-width: 650px;
    margin-left: 25px;
}

#choosen-model {
    tr {
        font-family: "Trade Gothic Bold2", sans-serif;
        font-size: 1rem;
        color: #333333;
        td {
            select {
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                user-select: none;
                background: #ffffff;
                border: 1px solid #ccd1d9;
                border-radius: 4px;
                &:hover {
                    border-color: #f48135;
                }
            }
            a {
                width: 100%;
                display: block;
                cursor: pointer;
                text-align: center;
                background-color: #f48135;
                padding: 6px 12px;
                border-radius: 4px;
                border: 1px solid #f48135;
                color: white;
                &::before{
                    content: "Conferma";
                    color: white;
                    text-transform: Uppercase;
                }
            }
        }
    }
}

#show-model {
    width: 100%;
    table[width="480"]{
        width: 100%;
    }
}
